#Formulario{
    background-color:#E1E2F7;
    margin: 2rem;
    border-radius: 0.5rem;
    padding: 1rem;
}


#cuerpoPrincipal{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
label{
    margin-left: 0.5rem;
    margin: 0.5rem;
}
#password{
    margin-left: 0.5rem;
    width: 12rem;
}
#nameUser{
    margin-left: 1rem;
    width: 12rem;   
}
#ingresar{
    margin: 0.5rem ;
    padding-left: 0.5rem;  
    padding-right: 0.5rem;
    padding-top: 0.2rem ;
}
